@{
ViewData["Title"] = "Revista";
}


<h1>Despachos Publicados</h1>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="input-group mb-3">
                    <span class="input-group-text">Titular</span>
                    <input type="text" class="form-control" placeholder="Pesquisar por..." value="Universidade Federal de Sergipe">
                </div>
            </div>
            <div class="col d-flex flex-column justify-content-between">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Patentes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Marcas
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Programas de Computador
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Desenhos Industriais
                    </label>
                </div>
            </div>
            <div class="col">
                <label class="label" for="">Revista a ser consultada: </label>
                <div class="">
                    <select id="disabledSelect" class="form-select">
                        <option>2739</option>
                        <option value="">2734</option>
                    </select>
                    <span class="text-center">ou</span>
                </div>
                <div class="col">
                    <label for="">Informe o número da revista:</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="d-flex my-3"><a class="btn btn-primary" href="#" role="button">Visualizar </a></div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h2>Despachos Publicados</h2>
        <h5>Revista: 2739</h5>
        <h5>Data: 04/07/2023</h5>
        <hr>
        <div>
            <div class="row">
                <div class="col">
                    <div class="despacho">
                        <span class="text-black">(21) BR 20 2020 000718-7 U2</span>
                        <p>
                            Código 4.3 - Desarquivamento - Art. 33 parágrafo único da LPI.
                            (22) 13/01/2020 <br>
                            (71) UNIVERSIDADE FEDERAL DE SERGIPE (BR/SE)
                        </p>
                    </div>
                    <div class="despacho">
                        <span class="text-black">(21) BR 10 2020 011185-0 A2</span>
                        <p>
                            Código 11.1 - Arquivamento - Art. 33 da LPI
                            (22) 03/06/2020 <br>
                            (71) UNIVERSIDADE FEDERAL DE SERGIPE (BR/SE)
                        </p>
                    </div>
                </div>
                <hr>
                <div class="col">
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>