@{
ViewData["Title"] = "Revista";
}

<div>
    <h1>Despachos Publicados</h1>
    <hr>
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Patentes
                </label
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Marcas
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Programas de Computador
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Desenhos Industriais
                </label>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <label class="label" for="">Revista a ser consultada: </label>
            <div class="mb-3">
                <select id="disabledSelect" class="form-select">
                    <option>2735</option>
                    <option value="">2734</option>
                </select>
            </div>
        </div>
        <div class="col">
            <label for="">Informe o número da revista:</label>
            <input class="form-control" type="text">
        </div>
        <div>
            <a class="btn btn-primary " href="#" role="button">Visualizar </a>
        </div>
    </div>