@{ ViewData["Title"] = "Home"; }

<div class="content">
    <h2 class="pb-3 border-bottom"></h2>
    <div class="row g-3 py-3 row-cols-lg-3">
      <div class="feature col">
        <a asp-action="Processos">
          <div class="feature col">
            <div id="card-processo" class="card-feature card h-100">
              <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/512/3160/3160299.png" alt="" style="height: 128px" />
                <h5 class="card-title">Processos</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="feature col">
        <a href="#">
          <div id="card-agenda" class="card-feature card h-100">
            <div class="card-body">
              <img src="https://cdn-icons-png.flaticon.com/512/2983/2983719.png" alt="" style="height: 128px" />
              <h5 class="card-title">Agenda</h5>
            </div>

          </div>
        </a>
      </div>
      <div class="feature col">
        <a href="#">
          <div id="card-grafico" class="card-feature card h-100">
            <div class="card-body">
              <img src="https://cdn-icons-png.flaticon.com/512/2257/2257295.png" alt="" style="height: 128px" />
              <h5 class="card-title">Gráficos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="feature col">
        <a href="#">
          <div id="card-revista" class="card-feature card h-100" style="height: 182px">
            <div class="card-body">
              <img src="https://cdn-icons-png.flaticon.com/512/2356/2356617.png" alt="" style="height: 128px" />
              <h5 class="card-title">Revista RPI</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="feature col">
        <a href="#">
          <div id="card-inventores" class="card-feature card h-100">
            <div class="card-body">
              <img src="https://cdn-icons-png.flaticon.com/512/681/681392.png" alt="" style="height: 128px" />
              <h5 class="card-title">Inventores</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="feature col">
        <a href="#">
          <div id="card-relatorio" class="card-feature card">
            <div class="card-body">
              <img src="https://cdn-icons-png.flaticon.com/512/1690/1690617.png" alt="" style="height: 128px" />
              <h5 class="card-title">Relatórios</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>