@{ ViewData["Title"] = "Home Page"; }

<div class="content">
    <div class="container px-4 py-5" id="menu">
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <h6 class="card-title">Últimas Revistas Publicadas</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">Código: 2528</div>
                            <div class="col">Data: 28/03/2023</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">Processos Ativos</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-between">
                                <span>Patentes:</span> 0
                            </div>
                            <div class="col-6 d-flex justify-content-between">
                                <span>Marcas:</span> 0
                            </div>
                            <div class="col-6 d-flex justify-content-between">
                                <span>Softwares:</span> 0
                            </div>
                            <div class="col-6 d-flex justify-content-between">
                                <span>Desenho Industrial:</span> 0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <h6 class="card-title">Procesos a vencer</h6>
                    </div>
                    <div class="card-body text-center justify-content-center">
                        <div class="card-text">0</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="pb-3 border-bottom"></h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div id="card-processo" class="card text-center justify-content-center" style="height: 182px;">
                    <div class="card-img-top">
                        
                    </div>
                        <h5 class="card-title">Processos</h5>
                </div>                
            </div>
            <div class="feature col">
                <div id="card-agenda" class="card h-100 text-center justify-content-center">
                    <h5 class="card-title">Agenda</h5>
                </div>
            </div>
            <div  class="feature col">
                <div id="card-grafico" class="card h-100 text-center justify-content-center">
                    <h5 class="card-title">Gráficos</h5>
                </div>
            </div>
            <div class="feature col">
                <div id="card-revista" class="card text-center justify-content-center" style="height: 182px;">
                    <h5 class="card-title">Revista RPI</h5>
                </div>
            </div>
            <div class="feature col">
                <div id="card-inventores" class="card h-100 text-center justify-content-center">
                    <h5 class="card-title">Inventores</h5>
                </div>
            </div>
            <div class="feature col">
                <div id="card-relatorio" class="card h-100 text-center justify-content-center">
                    <h5 class="card-title">Relatórios</h5>
                </div>
            </div>
        </div>
</div>