@{ ViewData["Title"] = "Home Page"; }

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->

<div class="content">
    <div class="row">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <h6 class="card-title">Últimas Revistas Publicadas</h6>
                </div>
                <div class="card-body"></div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <h6 class="card-title">Processos Ativos</h6>
                </div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
</div>