@{ ViewData["Title"] = "Processos"; }

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">
          <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
          Home
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Processos</a>
      </li>
    </ol>
  </nav>
</div>
<div class="Conteiner">
    <div class="row g-5 py-5">
        <div class="feature col">
            <a asp-controller="Patente" asp-action="index">
              <div class="card-feature card">
                <div class="card-body">
                  <img src="https://cdn-icons-png.flaticon.com/512/4391/4391394.png" alt="" style="height: 128px" />
                  <h5 class="card-title">Patente</h5>
                </div>
              </div>
            </a>
          </div>
        <div class="feature col">
            <a href="#">
                <div class="card-feature card">
                  <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/1042/1042340.png" alt="" style="height: 128px" />
                    <h5 class="card-title">Marcas</h5>
                  </div>
                </div>
              </a>
        </div>
        <div class="feature col">
            <a href="#">
                <div class="card-feature card">
                  <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/1163/1163463.png" alt="" style="height: 128px" />
                    <h5 class="card-title">Programas de Computador</h5>
                  </div>
                </div>
              </a>
        </div>
        <div class="feature col">
            <a href="#">
                <div class="card-feature card">
                  <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/2558/2558115.png" alt="" style="height: 128px" />
                    <h5 class="card-title">Desenho Industrial</h5>
                  </div>
                </div>
              </a>
        </div>
    </div>
</div>