html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#card-processo {
  background-color: #27A9E3;
  color: white;
}

#card-agenda {
  background-color: #28B779;
  color: white;
}

#card-grafico {
  background-color: #FFB848;
  color: white;
}

#card-revista {
  background-color: #DA542E;
  color: white;
}

#card-inventores {
  background-color: #27A9E3;
  color: white;
}

#card-relatorio {
  background-color: #2255A4;
  color: white;
}

.card:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    /* border: 1px solid #cccccc;
    background-color: white; */

}