html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
}

#card-processo {
  background-color: #FDE4CF;
  color: white;
}

#card-agenda {
  background-color: #FFCFD2;
  color: white;
}

#card-grafico {
  background-color: #8EECF5;
  color: white;
}

#card-revista {
  background-color: #FBF8CC;
  color: white;
}

#card-inventores {
  background-color: #B9FBC0;
  color: white;
}

#card-relatorio {
  background-color: #90DBF4;
  color: white;
}

.feature {
  height: 180px;
}

.card:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    /* border: 1px solid #cccccc;
    background-color: white; */

}